<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      gis开发
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css"
    />
    <!-- <link rel="stylesheet" href="22" /> -->
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      .map {
        height: 100%;
        width: 100%;
        display: inline-block;
      }
      .controlPanel {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1;
        padding: 15px;
      }
    </style>
  </head>

  <body ng-app="app" ng-cloak>
    <!-- 测试地图1 -->
    <aol-map class="map">
      <aol-view zoom="8">
        <aol-coordinate x="122" y="24"></aol-coordinate>
      </aol-view>
      <aol-layer-tile>
        <aol-source-xyz
          instance="map.source[0]"
          tile-grid="map.tileSource.tileGrid"
          url="map.tileSource.src"
        ></aol-source-xyz>
      </aol-layer-tile>
      <aol-layer-group>
        <aol-layer-vector max-resolution="152.9">
          <aol-source-vector instance="map.source[1]">
            <aol-feature ng-repeat="feature in map.collection track by $index">
              <aol-geometry-point>
                <aol-coordinate
                  x="feature.lon"
                  y="feature.lat"
                ></aol-coordinate>
                <aol-style>
                  <aol-style-icon
                    src="'./assets/ship.png'"
                    scale="0.5"
                    color="feature.color"
                    rotation="feature.rotation"
                  ></aol-style-icon>
                </aol-style>
              </aol-geometry-point>
            </aol-feature>
          </aol-source-vector>
        </aol-layer-vector>
        <aol-layer-vector declutter="true" max-resolution="152.9">
          <aol-source-vector>
            <aol-feature ng-repeat="feature in map.collection track by $index">
              <aol-geometry-point>
                <aol-coordinate
                  x="feature.lon"
                  y="feature.lat"
                ></aol-coordinate>
                <aol-style>
                  <aol-style-text text="feature.text"></aol-style-text>
                </aol-style>
              </aol-geometry-point>
            </aol-feature>
          </aol-source-vector>
        </aol-layer-vector>
        <aol-layer-webgl
          style="map.webgl.style"
          source="map.source[1]"
          min-resolution="152.9"
        ></aol-layer-webgl>
      </aol-layer-group>
      <aol-interaction-defaults
        double-click-zoom="false"
        mouse-wheel-zoom="true"
      ></aol-interaction-defaults>
    </aol-map>

    <div class="panel controlPanel">
      <map-tilesource-control
        select-item="map.tileSource"
      ></map-tilesource-control>
    </div>

    <script type="text/ng-template" id="mapTilesourceControl">
      <div class="btn-group" role="group" aria-label="地图切换">
        <button type="button" class="btn btn-sm btn-default" ng-repeat="item in $ctrl.source track by item.code" ng-click="$ctrl.change(item.code)">{{item.name}}</button>
      </div>
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Mock.js/1.0.0/mock-min.js"></script>
    <script src="../dist/aol.all.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
